@import "tailwindcss";

@theme {
  --color-brand-red: #E00C05;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: #f8fafc;
  color: #0f172a;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}